.sectionTwo{
    max-width: 400px;
}

.sectionTwo__h1 {
    font-family: var(--font-sans);
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.sectionTwo__p {
    font-family: var(--font-sans);
    
    
}

.first-column {
    margin-bottom: 1rem;
}

.sectionTwo__span {
    font-weight: 600;
}